.view_slider_wrapper{
    position: fixed;
    background: rgb(22, 22, 22);
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    display: none;
    outline: none;
    user-select: none;
}
.view_slider *{
    outline: none;
}
.view_slider, .view_slides{
    width: 100%;
    height: 100vh;
}
.view_slides img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}
.slider_button{
    background: transparent;
    border: none;
    outline: none;
    width: 25px;
    height: 25px;
    mix-blend-mode: difference;
}

.slider_button img{
    width: 100%;
}
#slider_button_left{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 3px;
}
#slider_button_right{
    position: absolute;
    right: 12px;
    top: 50%;
    margin-left: 3px;
    transform: translateY(-50%);
}
.images_preview_wrapper{
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.images_preview{
    width: 80px;
    height: 60px;
    background: transparent;
    outline: none;
    border: none;
    filter: brightness(0.6);
}
.images_preview img{
    width: 100%;
    height: 100%;
}
.images_preview:hover{
    filter: brightness(1);
}
.cancel_view_slider{
    position: absolute;
    top: 18px;
    right: 18px;
    background: transparent;
    width: 22px;
    height: 22px;
    outline: none;
    border: none;
}
.cancel_view_slider img{
    width: 100%;
}