.business-card {
    border: 1px solid rgba(128, 128, 128, 0.3);
    color: rgba(65, 92, 161, 0.8);
    flex: auto;
    box-shadow: 0 1px 2px 0 rgba(128, 128, 128, 0.2), 0 1px 2px 0 rgba(128, 128, 128, 0.19);
}
.star-css{
    width: 23px;
    vertical-align: middle;
}
.search-item{
    white-space: normal;
    text-decoration: none !important;
    color: rgba(65, 92, 161, 0.9) !important;
}
.business-card:hover{
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.2), 0 2px 4px 0 rgba(128, 128, 128, 0.19);
    border-color: rgba(128, 128, 128, 0.6); 
}
.business-card:hover .business-card-info{
    background-color: #ecedf0b4;
}
.business-card-info {
    background: #fffffcb4;
    padding: 10px 15px 20px 15px;
    min-height: 205px;
}
.business_img_container{
    height: auto;
    min-height: 180px;
    overflow: hidden;
}
.business_img_container img{
    width: 100%;
}
.business-card-info p{
    margin-bottom: 0;

}
.business-card-info .business_heading{
    font-weight: 700;
    opacity: .9;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hover_business:hover{
    overflow: hidden;
    position: relative;
}
.budiness_heading:hover{
    overflow: visible;
    white-space: nowrap;
    text-overflow: none;
    /* width: 100%;
    margin: 0;
    animation: scroll-left 4s linear infinite;
    transition-delay: 1s; */
    }
    /* @keyframes scroll-left {
    0%   { 
    margin-left: 100%; 		
    }
    100% { 
    margin-left: -100%; 
    }
    } */
    

.business-card-info .business_address{
    font-size: 12px;
    color: rgba(65, 92, 161, 0.7);
    margin-top: 8px;
    min-height: 32px;
    overflow: hidden;
    
}
/* .business_address .search-item{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} */
.business_address .search-item::after{
    content: ', ';
}

.business-card-info .business_categories{
    text-decoration: none;
    color: rgb(65, 92, 161,0.6);
}
.business-card-info .business_categories p{
    border: 1px solid rgba(128, 128, 128, 0.2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    width: auto !important;
    padding: 2px 5px;
    font-size: 13px;
    text-align: center;
    position: relative;
}
.business-card-info .business_location {
    display: grid;
    text-decoration: none;
    color: rgba(65, 92, 161, 0.9);
    font-size: 14px;
    padding-top: 5px;
}
.business_rating{
    display: inline;
}
.business_review{
    display: inline;
    padding-left: 10px;
    font-size: 12px;
}
.business_review_rating{
    color: rgba(65, 92, 161, 0.7);
    text-decoration: none;
}
.business_view{
    font-size: 12px;
    padding: 5px 1%;
}
button{
    cursor: pointer;
}