.photos {
    /* display: grid; */
    width: 100%;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    column-fill: balance;
}
.photos img {
    width: 100%;
    height: auto;
    padding: 2px;
}
@media (max-width: 768px) {
    .photos {
    column-count: 2;
    }

}
