.search-filters{
    position: sticky;
    top: 120px;
    left: 0;
    height: 0px;
    padding-top: 10px;
    color: #112e51;
}
.search-types{
    position: sticky;
    top: 88px;
    left: 0;
}
.search_filter_select{
    height: 30px;
    width: 100%;
    padding: 0 5px;
    border: 1px solid rgba(60,90,153, 0.1);
    outline: none;
}
.search_filter_select:hover{
    border-color: rgba(60,90,153, 0.5);
    box-shadow: 0 1px 3px rgba(60,90,153,0.19), 0 1px 1px rgba(60,90,153,0.23); 
}
.category-filter{
    margin-bottom: 15px;
}
.filter_heading{
    font-size: 14px;
    padding-bottom: 5px;
}
.popular-filter, .newest-filter{
    margin-top: 10px;
}
.popular-filter input, .newest-filter input{
    margin-right: 6px;
}