.business_overview {
    display: grid;
    grid-gap: 20px;
    color: #112e51;
}
.overview{
    border: 2px solid rgb(211, 207, 207);
}
.business_cover {
    width: 100%;
}
.overview .overview_heading{
    padding: 13px 18px;
    font-weight: 700;
    border-bottom: 2px solid rgb(211, 207, 207);
}
.overview .overview_dec{
    padding: 13px 18px 14px 18px;
    opacity: 0.7;
    line-height: 1.5;
    width: 100%;
    height: auto;
    text-align: justify;
}
.overview_dec p{
    white-space: pre-wrap;
    font-size: 16px;
}