.roomcard-container{
    border: 1px solid rgba(214, 211, 211, 0.5);
    width: 50%;
    color: #112e51;
    box-shadow: 0 1px 2px 0 rgba(128, 128, 128, 0.2), 0 1px 2px 0 rgba(128, 128, 128, 0.19);
    border-radius: 2px;
}
.roomcard-container:hover{
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.2), 0 2px 4px 0 rgba(128, 128, 128, 0.19);
    border-color: rgba(128, 128, 128, 0.6); 
}
.roomcard-container:hover .room-card-info{
    background-color: #ecedf0b4;
}
.room_img_container{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.room_img_container img{
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}
/* .room_overlay{
    position: absolute;
    z-index: 99;
    background: rgba(17, 46, 81, 0.3);
    width: 100%;
    bottom: 1%;
    padding: 20px 15px;
    color: #fff;
} */
.room_after_discount{
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}
.room_before_discount{
    display: inline;
    text-decoration: line-through;
    text-decoration-color: red;
    padding-left: 10px;
}
.room_discount{
    display: inline;
    margin-left: 15px;
    background: #DF1D3F;
    padding: 2px 10px;
    border-radius: 20px;
    color: #fff;
}
.room_heading{
    font-weight: 700;
    padding-bottom: 5px;
}
.room-card-info{
    padding: 5px 5px 20px 10px;
}
.room_hotel_name{
    font-weight: 600;
    opacity: 0.7;
    border: 1px solid rgba(128, 128, 128, 0.3);
    width: auto !important;
    padding: 2px 5px;
    font-size: 14px;
}
.room_card_price{
    margin-bottom: 5px;
}
.room_hotel_location{
    opacity: 0.7;
    font-size: 14px;
    padding-top: 5px;
}
.room_book_btn{
    background: #DF1D3F;
    height: 35px;
    width: 130px;
    color: #fff;
    border: #DF1D3F;
    font-size: 14px;
    /* margin-right: 0 !important;
    margin-left: auto !important;
    display: block; */
    margin-top: 10px;
    display: block;
   
}
.roomcard-container p{
    margin-bottom: 0;
}