
.search-input {
    border: 0;
    border-radius: 15px;
    height: 25px;
    padding: 5px 0;
}
@media (max-width:767px){
    .search-bar {
        margin: auto;
        max-width: 747px;
        width: 100%;
        padding: 10px 0;
    }
    .search-input {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .search-bar {
        margin: auto;
        padding: 0 10px;
        min-width: 236px;
        text-align: center;
    }
    .search-input {
        width: 70%;
    }
}


