.custom_carousel{
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr)) !important;
}
/* .slider-frame{
    width: 500px;
} */
.custom_carousel .carousel{
    width: auto !important;
    height: auto !important;
}

.carousel .slide{
    text-align: left !important;
}

/* custom arrow css */
/* .carousel1 {
    display:grid;
    grid-template-columns: repeat(2 , minmax(100px, 1fr));
    grid-gap: 10px;
} 
 .prev-btn {
    position: absolute;
    top: 40%;
    color: #fff;
    background: rgb(26, 73, 88);
}
.next-btn {
    position: absolute;
    top: 40%;
    right: 0;
    color: #fff;
    background: rgb(26, 73, 88);
}
.next-item, .curr-item {
    position: relative;
}
.slide1{
    width: 100%;
    height: 400px;
} */
