.carousel {
    display:grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2 , minmax(100px, 1fr));
    grid-gap: 10px;
}
.prev-btn {
    position: absolute;
    top: 40%;
    color: #fff;
    background: rgb(26, 73, 88);
}
.next-btn {
    position: absolute;
    top: 40%;
    right: 0;
    color: #fff;
    background: rgb(26, 73, 88);
}
.next-item, .curr-item {
    position: relative;
}