.business_container{
    padding-top: 30px;
}
.business-page{
    padding-top: 30px;
}
.card-business-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
    margin-top: 15px;
}
.business_body{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}
.side-bar ul {
    list-style: none;
    
}
.business-data-container {
    /* margin-left: 30px; */
}
.side-bar ul li{
    position: relative;
    padding: 5px 10px 5px 20px ;
    display: block;
    
}
.side-bar ul li:hover{
    font-weight: 500;  
     
    
}
.side-bar ul li:hover .sidebar_link{
    color: rgba(22, 74, 185, 1);
}

.sidebar_link.active:before{
    content: '';
    width: 4px;
    position: absolute;
    background-color: rgba(22, 74, 185, 1);
    height: 100%;
    left: 0;
    top: 0;
}
.sidebar_link{
    text-decoration: none !important;
    color: rgba(22, 74, 185, 0.7);
}
.sidebar_link.active{
    padding: 6px 0;
    font-weight: 600;
}
.sidebar_link.active:after{
    content: '';
    width: 100%;
    position: absolute;
    background-color: rgba(22, 74, 185, 0.1);
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: inset 0 0 10px rgba(22, 74, 185, 0.2);
    border-radius: 2px;
}
.overview-contact{
    font-size: 14px;
    opacity: 0.8;
    color: #112e51;
    line-height: 2;
}
.overview-contact .overview-icon{
    vertical-align: middle;
    opacity: 1;
}
.overview-rating{
    text-align: center;
}
.overview-rating .overview_star{
    width: 130px;
    height: 130px;
}
.average_rating{
    margin-top: -95px;
    color: #ffffff;
    font-size: 20px;
}
.average_rating_text{
    padding-top: 30px;
    font-weight: 600;
    opacity: 1;
}
.googlemap{
    position: relative;
    width: 100%;
    height: 300px;
}
@media (max-width: 768px){
    .business_body{
        grid-template-columns: 1fr;
    }
}

