.user-dropdown-button{
    cursor: pointer;
}
.user-dropdown-list {
    display: block;
    position: absolute;
    margin-top: 7px;
    margin-left: -204px;
    width: 100%;
    max-width: 220px;
    max-height: 300px;
    padding: 6px 0 8px 0;
    background: white;
    color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.user-dropdown-list div{
    padding: 4px 12px 4px 12px;
}
#myaccount{
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;

}
#myaccount img{
    object-fit: cover;
    max-width: 20px;
    border-radius: 10px;
    margin-right: 8px;
    cursor: pointer;
}
.user-dropdown-list div p{
    display: inline;
    cursor: pointer;
}
.disabled{
    color: #6c757d;
}
.user-dropdown-list div:nth-child(1) p{
    cursor: default;
}
.user-dropdown-list div:nth-child(7) p{
    cursor: pointer;
}
.user-business-list{
    padding: 0px !important;
}
.user-business {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 2px 0 2px 0;
    padding: 5px 12px 5px 12px !important;
    cursor: pointer;
}
.user-business:hover{
    background: #f8f9fa;
}
.user-business img {
    object-fit: cover;
    max-width: 20px;
    border-radius: 10px;
    margin-right: 8px;
    cursor: pointer;
}
#default-business{
    border-radius: 0;
}
.user-business span {
    margin: auto 0;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}