.user-dropdown-button{
    cursor: pointer;
}
.user-dropdown-list {
    line-height: 1.6;
    display: block;
    position: absolute;
    right: 0;
    margin-top: 12px;
    margin-right: 20px;
    width: 100%;
    max-width: 220px;
    max-height: 300px;
    background: #c73d2a;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.user-dropdown-list div{
    padding: 0 12px 0 12px;
}
.user-dropdown-list div p{
    display: inline;
    cursor: pointer;
}
.user-dropdown-list div:nth-child(1) p{
    cursor: default;
}
.user-dropdown-list div:nth-child(5){
    cursor: pointer;
}
.user-business-list{
    padding: 0px !important;
}
.user-business {
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 4px 0 4px 0;
}
.user-business img {
    object-fit: cover;
    max-width: 20px;
    border-radius: 10px;
    margin-right: 8px;
    cursor: pointer;
}
.user-business span {
    margin: auto 0;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}