.user_panel {
    color: #fff;
}

.user_panel {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    margin: 0px !important;
}
.user_panel a{
    margin:  0 5px 0 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.user_panel svg{
    margin-top: 4px;
}
.user_panel span{
    white-space: nowrap;
}
.user_panel img {
    width: 20px;
    border-radius: 10px;
}
.pipesign {
    border-right: 1px solid white;
    height: 17px;
    margin: 0 10px 0 10px;
}