.user_panel {
    color: #fff;
}

.user_panel > ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px !important;
}
.user_panel > ul li{
    padding: 0 0 0 12px;
    cursor: pointer;
}
.user_panel > ul li:nth-child(3) img{
    border-radius: 100%;
    /* object-fit: cover; */
    width: 40px;
    height: 40px;
}
.user_panel span{
    white-space: nowrap;
}