.nav-area{
    margin-top: -4px;
}
.navigation_container{
    padding: 0;
    margin: 0;
    box-shadow: 0 1px 2px rgba(60,90,153,0.1), 0 1px 1px rgba(60,90,153,0.1)
}

.request_btn {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}
.request-btn-nav {
    padding: 8px 15px;
    display: inline-block;
    color: #ffffff;
    background: #DF1D3F;
    border-radius: 30px;
    border: transparent;
}
.request-btn-nav:hover{
    box-shadow: 0 2px 1px #3a3ca367;
}
.nav-item{
    color: #112e51;
    text-decoration: none !important;
    opacity: 0.7;
    padding: 15px 20px 15px;
    padding-left: 0;
    display: inline-block;

}
.nav-item.active{
    font-weight: 500;
    opacity: 1;
    border-left: 3px solid rgba(22, 74, 185, 1);
    padding-left: 8px;
    background: rgba(22, 74, 185, 0.1);
    margin-right: 8px;
}
.nav-item:hover{
    opacity: 0.8;
}
@media (min-width: 768px) {
    .nav-area {
        display: grid;
        grid-template-columns: 4fr 1.5fr;
    }
}

@media (max-width:767px){
    .nav-area {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .nav_heading{
        display: none;
    }
    .nav-item{
        padding: 10px 30px 10px; 
        padding-left: 0;
    }
    .nav-item.active{
        padding-left: 15px;
    }
    .request-btn-nav{
        font-size: 13px;
        padding: 5px 6px;
    }
}
@media (max-width:576px){
    .nav-item{
        padding: 10px 20px 10px; 
        padding-left: 0; 
    }
    .nav-item.active{
        padding-left: 10px;
    }
    .nav-item svg{
        font-size: 13px;
    }
    .request-btn-nav{
        font-size: 11px;
        padding: 4px 4px;
        text-align: center;
    }
    
}
@media (max-width: 391px){
    .request-btn-nav{
        font-size: 10px;
        padding: 2px 4px;
        text-align: center;
    }
    .nav-item{
        padding: 10px 15px 10px; 
        padding-left: 0; 
    }
    .nav-item.active{
        padding-left: 10px;
    }
    .nav-item svg{
        font-size: 13px;
    }
}


