.request-card {
    border: 1px solid #DBE0E5;
    background: #fff;
    padding: 15px;
    border-radius: 2px;
    display: grid;
}
.request-card:hover{
    box-shadow: 0 2px 5px rgba(60,90,153,0.2), 0 2px 2px rgba(60,90,153,0.23)
}
.request-heading {
    font-weight: 700;
    font-size: 21px;
    padding-bottom: 5px;
}
.request-info-text {
    font-size: 14px;
    opacity: 0.7;
}
.request-btn {
    background: #20438E;
    padding: 7px;
    text-align: center;
    border: 1px solid #20438E;
    border-radius: 3px;
    margin: 15px 0 10px;
}
.request-btn .request_link{
    color: #fff;
    text-decoration: none !important;
}
.request-btn:hover{
    box-shadow: 0 1px 3px rgba(60,90,153,0.19), 0 2px 2px rgba(60,90,153,0.23)
}