.request-card {
    border: 1px solid #000;
    background: #fff;
    padding: 10px;
    display: grid;
}
.request-heading {
    font-weight: 800;
    font-size: 21px;
}
.request-info-text {
    font-size: 16px;
}
.request-btn {
    background: #555;
}