.business_dealsin_edit{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 20px;
}
.business_dealsin_edit input{
    position: relative;
    min-width: 18px;
    min-height: 18px;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
}
.business_dealsin_edit input:checked::before{
    display: block;
}
.business_dealsin_edit input::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #007bff url("../../../assets/images/checked.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    border-radius: 4px;
    display: none;
}
 .business_dealsin_edit label{
user-select: none;
white-space: pre-line;
}

.dealsin_list h4{
    margin-bottom: 10px;
}
.deals_individual{
    display: flex;
    margin: 5px 0 5px 0;
    width: 100%;
}