.product-card{
    border: 1px solid rgba(128, 128, 128, 0.3);
    margin-bottom: 10px;
    flex: auto;
    box-shadow: 0 1px 2px 0 rgba(128, 128, 128, 0.2), 0 1px 2px 0 rgba(128, 128, 128, 0.19); 
}
.product-card:hover{
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.2), 0 2px 4px 0 rgba(128, 128, 128, 0.19);
    border-color: rgba(128, 128, 128, 0.6); 
}
.product-card:hover .product-card-info{
    background-color: #ecedf0b4;
}
.product-img-container{
    height: auto;
    overflow: hidden;
}
.product-img-container img{
    width: 100%;
}
.product-card-info{
    padding: 10px;
}
.product_heading{
    opacity: .9;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
}
.hover_product{
    overflow: hidden;
}
.product_heading:hover{
    overflow: visible;
    white-space: nowrap;
    text-overflow: none;
    /* margin-left: 100%; */
    /* animation: scroll-left 5s linear infinite; */
    }
    /* @keyframes scroll-left {
    0%   { 
    margin-left: 0%; 		
    }
    100% { 
    margin-left: -100%; 
    }
} */
.product_price{
    opacity: 0.6;
    font-size: 14px;
    padding: 8px 0;
}
.product_business_name{
    font-size: 13px;
    width: auto;
    margin-bottom: 5px;
}
.search-item{
    white-space: normal;
    text-decoration: none !important;
}