.header {
    background-color:#112E51;
    padding: 10px 0;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}
.header + div {
    padding-top: 64px;
}
.logo {
    grid-area: logo;
}
.user_panel {
    grid-area: user_panel;
    overflow: hidden;
}
.search_bar {
    grid-area: search_bar;
}
@media (max-width:767px){
    header {
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logo user_panel user_panel"
        "search_bar search_bar search_bar";
        justify-items: stretch;
    }
    .header + div {
        padding-top: 118px;
    }
}
@media (min-width:768px){
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1.5fr;
        grid-template-areas: 
        "logo search_bar user_panel";
    }
    .search_bar {
        margin: 5px 0 0 20px;

    }
}

 .logo img {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;

}

/* 
@media (max-width:767px){
    .header-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 10px 0;
    }
    .search-area {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .user-panel-area {
        background: none;
        color: white;
    }
}

@media (min-width: 768px) {
    .header-area {
        display: grid;
        grid-template-columns: 1fr 2fr 1.5fr;
        align-items: center;
        padding: 10px 0;
    }
    .search-area {
        margin: auto 0;
    }

    .user-panel-area {
        background: none;
        color: white;
    }
}  */




