header {
    width: 100%;
    background-color:#112E51;
    /* position: fixed;
    z-index: 999; */
}
.search-bar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
}
.search-input {
    width: 95%;
    outline:none;
}
@media (max-width:767px){
    .header-area {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 10px 0;
    }
    .search-area {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .user-panel-area {
        background: none;
        color: white;
    }
}

@media (min-width: 768px) {
    .header-area {
        display: grid;
        grid-template-columns: 1fr 2fr 1.5fr;
        align-items: center;
        padding: 10px 0;
    }
    .search-area {
        margin: auto 0;
    }

    .user-panel-area {
        background: none;
        color: white;
    }
}


@media (max-width:767px){
    .search-bar {
        margin: auto;
        max-width: 747px;
        width: 100%;
        padding: 10px 0;
    }
    
}

@media (min-width: 768px) {
    .search-bar {
        margin: auto;
        padding: 0 10px;
        min-width: 236px;
    }
    
}


