.services-info {
    display: grid;
    margin-top: 20px;

}
.servicesinfo-facebook-card, .servicesinfo-hotel-card, .servicesinfo-food-card{
    position: relative;
    padding-top: 10px;
    min-height: 300px;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(128, 128, 128, 0.2), 0 1px 2px 0 rgba(128, 128, 128, 0.19);
}
.servicesinfo-facebook-card:hover, .servicesinfo-hotel-card:hover, .servicesinfo-food-card:hover{
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.2), 0 2px 4px 0 rgba(128, 128, 128, 0.19);
    border-color: rgba(211, 94, 94, 0.2); 
}
.servicesinfo-facebook-card img, .services-info-card img, .servicesinfo-food-card img {
    width: 100%;
}
.card-overlay-facebook-text, .card-overlay-food-text, .card-overlay-hotel-text {
    position: absolute;
}

/* facebook boosting */
.servicesinfo-facebook-card{
    border: 1px solid rgba(219, 224, 229, 0.5);
    color: #20438E;
}
.servicesinfo-facebook-card img{
    width: 180px;
    margin-left: 15%;
}
.card-overlay-facebook-text{
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 13px;
    width: 100%;
}
.info-card-facebook-btn{
    width: 90%;
    height: 35px;
    border: transparent;
    color: #ffffff;
    font-size: 15px;
    border-radius: 3px;
    background: #20438E;
}
.info-card-facebook-heading{
    padding: 10px 5px 5px 13px;
    font-weight: 700;
    
}
.info-card-facebook-text{
    font-size: 14px;
    opacity: 0.7;
    padding: 5px 5px 0 13px;
}

/* hotel booking */
.servicesinfo-hotel-card{
    background: #20438E;
    margin-top: 20px;
    overflow: hidden;
}
.card-overlay-hotel-text{
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 13px;
    width: 100%;
}
.card-overlay-hotel-text .info-card-hotel-btn{
    width: 90%;
    height: 35px;
    border: transparent;
    color: #20438E;
    font-size: 15px;
    border-radius: 3px;
    background: #fff;
}
.servicesinfo-hotel-card img{
    width: 250px;
    margin-left: 30%;
    margin-top: -25px;
}
.card-overlay-hotel-text .info-card-white-heading{
    padding-bottom: 15px;
    color: #fff;
    font-weight: 700;
}
.card-overlay-hotel-text .info-card-hotel-text{
    font-size: 14px;
    opacity: 0.7;
    padding-bottom: 20px;
    color: #fff;
}

/* food order */
.servicesinfo-food-card{
    border: 1px solid rgba(219, 224, 229, 0.5);
    margin-top: 20px;
    color: #20438E;
    overflow: hidden
}
.card-overlay-food-text{
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 13px;
    width: 100%;
}
.servicesinfo-food-card img{
    width: 250px;
    margin-top: 10px;
    margin-left: 30%;
}
.info-card-food-btn{
    width: 90%;
    height: 35px;
    border: transparent;
    color: #ffffff;
    font-size: 15px;
    border-radius: 3px;
    background: #20438E;
}
.info-card-food-heading{
    padding-bottom: 15px;
    font-weight: 700;
}
.info-card-food-text{
    font-size: 14px;
    opacity: 0.7;
    padding-bottom: 20px;
}
