/* Footer Css */
footer{
    width: 100%;
    overflow: hidden;
}
footer *{
    margin: 0px;
    padding: 0px;
}
 div.footer-area{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 30px 0 20px 0;
    /* grid-column-gap: 15px; */
}
div.footer-area a{
    color: rgb(17, 46, 81);
    text-decoration: none;
}
div.footer-area h4{
    margin: 0px;
    padding: 5px 0 16px 0;
}
div.footer-khozinfo{
    grid-column: span 4;
}
div.footer-navigate{
    grid-column: span 2;
    justify-self: center;
}
div.footer-contacts{
    grid-column: span 3;
}
div.footer-app-links{
    grid-column: span 3;
}
div.footer-khozinfo h3{
    margin: 0px;
    padding: 8px 0 8px 0;
}
div.footer-khozinfo p{
    margin: 0px;
    padding-bottom: 15px;
}

div.footer-khozinfo #logo{
   width: 190px;
   cursor: pointer;
}
div.footer-khozinfo .social-icons{
    padding: 0 30px 0 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
div.footer-navigate ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
div.footer-navigate ul li{
    padding-bottom: 8px;
    list-style: none;
}
div.footer-contacts {
    justify-self: center;
    display: flex;
    flex-direction: column;
}
div.footer-contacts img{
    width: 18px;
    padding: 0 8px 0 0;
}
div.footer-contacts span{
    margin-bottom: 8px;
}

div.footer-app-links{
    /* display: flex;
    flex-direction: column; */
    justify-self: end;
}
/* div.footer-app-links div.footer-apps{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
} */
/* div.footer-app-links h4.title{
    align-self: flex-start;
} */
div.footer-app-links img{
    width: 46px;
}
div.footer-app-links p, div.footer-app-links h2{
    /* white-space: nowrap; */
}
div.footer-app-links div.apple{
    box-sizing: border-box;
    padding: 8px;
    display: grid;
    grid-template-areas: "img p"
                         "img h";       
    border: 2px solid grey;
    width: 100%;
    max-width: 250px;
    border-radius: 8px;
    margin-right: 7px;
}
div.footer-app-links div.android{
    box-sizing: border-box;
    padding: 8px;
    display: grid;
    grid-template-areas: "img p"
                         "img h";  
    border: 2px solid #34495E;
    margin: 10px 0 0 0;
    background-color: #34495E;
    color: white;
    width: 100%;
    max-width: 250px;
    border-radius: 7px;
}
div.apple img, div.android img{
    grid-area: img;
}
div.apple h2, div.android h2{
    grid-area: h;
}
div.apple p, div.android p{
    grid-area: p;
}
div.footer-base{
    text-align: center;
}

@media only screen and (max-width: 768px){
    div.footer-area{
        grid-column-gap: 10px;
        grid-row-gap: 22px;
    }
    div.footer-area h4{
        margin: 0px;
        padding: 5px 0 10px 0;
    }
    div.footer-khozinfo .social-icons{
        padding: 0 20px 0 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    div.footer-khozinfo{
        grid-column: 1/8;
    }
    div.footer-navigate{
        grid-column: 8/13;
        justify-self: start;
    }
    div.footer-app-links{
        justify-self: start;
        margin-left: 0px;
        grid-row : 2;
        grid-column: 1/8;
    }
    div.footer-contacts{
        grid-column: 8/13;
        justify-self: start;
    }
    div.footer-contacts span{
        margin-bottom: 32px;
    }
}