.business_edit_container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    margin-top: 30px !important;
    grid-column-gap: 35px;
}


.business_edit_tabs {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 70px;
    height: 300px;
}
.business_edit_tab{
    padding: 6px 12px 6px 20px;
    white-space: nowrap;
    color: rgba(22, 74, 185, 0.8);
    min-width: 154px;
}
.active{
    background-color: rgba(22, 74, 185, 0.1);
    border-left: 4px solid rgba(22, 74, 185, 1);
    font-weight: bold;
}

/*
--------------
PRODUCT EDIT
--------------
*/
.business_products_edit {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

