.category-btn {
    position: relative;
    padding: 8px 10px 8px 0px ;
    display: block;
    color: rgba(65, 92, 161, 0.7);
    flex-wrap: wrap;
}
.category-btn:hover{
    background-color: rgba(179, 195, 231, 0.1);
    color: rgb(18, 5, 92);
    padding: 10px;
    font-weight: 500;  
}

.category-btn:hover:before{
    content: '';
    width: 4px;
    position: absolute;
    background-color: rgba(22, 74, 185, 1);
    height: 100%;
    left: 0;
    top: 0;
}
div.sub-categories{
    position: absolute;
    left: 100%;
    z-index: 100;
    background: #ccc;
    width: 100%;
    box-shadow: 0 1px 3px rgba(22, 74, 185, 0.2), 0 2px 2px rgba(22, 74, 185, 0.23);
}
.sidenav-categories:nth-child(-n+9) .sub-categories{
    top: 0;
}
.sidenav-categories:nth-child(n+10) .sub-categories{
    bottom: 0;
}
.chevron_icon{
    float: right;
}
.sub-category-btn{
    padding: 5px 15px;
    font-weight: 400;
    color: rgba(22, 74, 185, 0.7);

}
.sub-category-btn:hover{
    background-color: rgba(22, 74, 185, 0.1);
    border-left: 3px solid rgba(22, 74, 185, 1);
    height: 100%;
    font-weight: 500;
    color: rgba(22, 74, 185, 1);
}
.sub-category-btn:hover:before{
    /* content: '';
    width: 3px;
    position: absolute;
    background-color: rgba(22, 74, 185, 1);
    height: 100%;
    left: 0;
    top: 0; */ 
}
