.footer {
    width: 100%;
    background-color: #000;
}
.footer-area {
    display: grid;
    margin: 0 10px;
}
@media (max-width: 767px) {
    .footer-area {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 768px) {
    .footer-area {
        grid-template-columns: 1.5fr .75fr 1fr 1fr;
    }
}
.footer-khozinfo {
    background-color: #abd3ef;
}
.footer-navigate {
    background-color: #849246;
}
.footer-contacts {
    background-color: #7a3354;
}
.footer-app-links {
    background-color: #a9302b;
}

