/* .search_bar select, .search_bar button, .search_bar input {
    display: inline-block;
} */
.search_select{

    height: 35px;
    border: transparent;
    padding: 0 10px;
    width: 30%;
    -webkit-appearance: none;
    -webkit-border-radius: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;
    border-right: 1px solid #414142;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.6);
    outline:none;
    
}
.search_select option:hover{
    background-color: #112e512d;
}
.search-input {
    outline: none;
    width: 70%;
    border: transparent;
    height: 35px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 10px;
}

.search-input::placeholder{
    color: #112e51;
    opacity: 0.4;
    /* font-family: FontAwesome; */
   
}
.searchbar_submit{
    margin-left: -50px;
    height: 28px;
    background: #112e51;
    color: #ffffff;
    border: transparent;
    border-radius: 20px;
    padding: 5px 10px;
    width: 45px;
    vertical-align: middle;
    outline: none;
}
.search_bar .searchbar_doubledown {
    position: absolute;
    margin: 10px 0 0 -20px;
}
.search-fa_icon{
    position: static;
    margin: 0;
    font-size: 20px;
}