.home-container {
    width: 100%;
    background-color: #c3c5c5;
    display: grid;
}
.home-area {
    margin: 0 10px;
}
.page-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.left-grid {
    background-color: #0ab;
}
.middle-grid {
    background-color: #ab3;
}
.right-grid {
    background-color: #dc1;
}
@media (min-width: 768px) {
    .home-area {
        margin: 0 10px;
    }
}